@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url(..//fonts/Roboto-Light.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(..//fonts/Roboto-Regular.woff2); }

@font-face {
  font-family: 'Roboto Italic';
  font-weight: 300;
  src: url(..//fonts/Roboto-LightItalic.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url(..//fonts/Roboto-Medium.woff2); }

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url(..//fonts/Roboto-Bold.woff2); }

@font-face {
  font-family: 'icomoon';
  src: url("..//fonts/icomoon.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-people_alt:before {
  content: "\e903"; }

.icon-ruler:before {
  content: "\e900"; }

.icon-pencil:before {
  content: "\e900"; }

.icon-design:before {
  content: "\e900"; }

.icon-tools:before {
  content: "\e902"; }

.icon-chevron-right:before {
  content: "\e904"; }

.icon-chevron-left:before {
  content: "\e905"; }

.icon-chevron-up:before {
  content: "\e906"; }

.icon-mail:before {
  content: "\e901"; }

.icon-office:before {
  content: "\e907"; }

.icon-headphones:before {
  content: "\e910"; }

.icon-coin:before {
  content: "\e93c"; }

.icon-phone:before {
  content: "\e942"; }

.icon-location:before {
  content: "\e947"; }

.icon-search:before {
  content: "\e986"; }

.icon-google-plus:before {
  content: "\ea8b"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-instagram:before {
  content: "\ea92"; }

.icon-twitter:before {
  content: "\ea96"; }

body {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  min-width: 320px;
  margin: 0; }

* {
  font-family: 'Roboto';
  font-weight: 400; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px; }
  .h1_bold {
    font-weight: 600; }

.h2 {
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.h3 {
  font-size: 24px; }
  .h3_bold {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px; }

.h4 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500; }

.h5 {
  font-size: 16px; }
  .h5_bold {
    font-weight: 500; }
  .h5_uppercase {
    text-transform: uppercase;
    letter-spacing: 3px; }

p {
  margin: 0; }

.p_italic {
  font-family: 'Roboto Italic';
  font-size: 26px;
  font-weight: 300; }

.p_small {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px; }

button, input {
  outline: none;
  border: 0; }

button {
  cursor: pointer; }

.btn {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 30px 60px;
  background: #0169B7;
  color: #ffffff;
  letter-spacing: 2px;
  border: 4px solid #0169B7;
  -webkit-transition: background, color, border, .2s;
  transition: background, color, border, .2s; }
  .btn:hover {
    background: #ffffff;
    color: #0169B7; }
  .btn_small {
    padding: 20px 30px; }
  .btn_square {
    padding: 0;
    height: 65px;
    width: 75px;
    border: 3px solid #222222;
    background: #ffffff;
    color: #222222; }
    .btn_square:hover {
      background: #0169B7;
      border: 3px solid #0169B7;
      color: #ffffff; }

.email {
  font-size: 16px;
  font-weight: 500;
  padding: 23px 40px;
  background: #888888;
  color: #ffffff; }
  .email::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 16px; }
  .email::-moz-placeholder {
    color: #ffffff;
    font-size: 16px; }
  .email:-ms-input-placeholder {
    color: #ffffff;
    font-size: 16px; }
  .email::-ms-input-placeholder {
    color: #ffffff;
    font-size: 16px; }
  .email::placeholder {
    color: #ffffff;
    font-size: 16px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

.menu-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  background: #ffffff; }

.menu_fixed {
  position: fixed;
  top: 0; }

.menu_visible {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  max-height: 100%;
  background: url(..//img/evro.svg) center/auto 100% no-repeat;
  width: 100px;
  margin: 10px 0; }

.nav__list {
  white-space: nowrap; }

.nav__item {
  display: inline-block; }
  .nav__item:not(:last-child) {
    margin-right: 75px; }

.nav__link {
  display: inline-block;
  padding: 30px 0;
  border-bottom: 5px solid rgba(1, 105, 183, 0);
  -webkit-transition: border-color .3s, color .3s;
  transition: border-color .3s, color .3s;
  font-weight: 500; }
  .nav__link:hover {
    border-bottom: 5px solid #0169b7; }

.hamburger {
  display: none;
  position: fixed;
  top: 40px;
  left: 50px;
  z-index: 100; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #222222; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #222222; }

@media (max-width: 992px) {
  .hamburger {
    display: block; }
  .logo {
    display: none; }
  .menu-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    padding: 100px 0 0 40px;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
  .nav__item {
    display: block; }
    .nav__item:not(:last-child) {
      margin-right: 0; }
  .nav__link {
    width: 400px;
    font-size: 26px; }
    .nav__link:hover {
      color: #0169B7;
      border-bottom: 5px solid rgba(0, 0, 0, 0); } }

.header {
  background: url(..//img/pepe.jpg) center/cover no-repeat;
  height: 5000px; }

.contacts-wrapper {
  background: #F5F5F5; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px; }
  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap; }
  .contacts__tel {
    margin-right: 50px; }
  .contacts__social {
    white-space: nowrap; }
  .contacts__icon {
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    color: #222222;
    font-size: 22px;
    line-height: 50px; }
    .contacts__icon:not(:last-child) {
      margin-right: 15px; }
  .contacts__facebook:hover {
    color: #015a9e; }
  .contacts__twitter:hover {
    color: #3aaafe; }
  .contacts__instagram {
    background: linear-gradient(45deg, #7222C0, #C5256B, #D88A3F, #222222 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 100%; }
    .contacts__instagram:hover {
      background-position: 0 0; }
  .contacts__google:hover {
    color: #DA4837; }

.icon-phone, .icon-location {
  color: #0169B7;
  margin-right: 5px; }

@media (max-width: 992px) {
  .contacts {
    display: none; } }
