.clients-wrapper
	background: #F5F5F5

.clients
	display: flex
	justify-content: space-between
	align-items: flex-start
	padding: 100px 0
	&__list
		width: 50%
		display: grid
		grid-template-columns: 1fr 1fr
		padding: 35px
		background: #ffffff
		border-radius: 10px
	&__item
		$padding: 30px
		height: 125px
		&:nth-child(odd)
			border-right: 1px solid #e9e9e9
			padding-right: $padding
		&:nth-child(even)
			padding-left: $padding
		&:nth-last-child(n+3)
			border-bottom: 1px solid #e9e9e9
			padding-bottom: $padding
		&:nth-child(n+3)
			padding-top: $padding
	&__logo
		height: 100%
		width: 100%
		transition: transform .2s
		&:hover
			transform: translate(15px, 0)
		&_1
			background: url(..//img/company1.jpg) center / cover
		&_2
			background: url(..//img/company2.jpg) center / cover
		&_3
			background: url(..//img/company3.jpg) center / cover
		&_4
			background: url(..//img/company4.jpg) center / cover
		&_5
			background: url(..//img/company5.jpg) center / cover
		&_6
			background: url(..//img/company6.jpg) center / cover

.clients
	&__content
		width: 40%
		padding-bottom: 75px
	&__title
		margin-bottom: 35px
	&__desc
		margin-bottom: 35px
		width: 80%
		min-width: 300px
	&__name
		margin-bottom: 10px
	&__position
		color: $accent
		margin-bottom: 35px

.clients
	.slick-dots
		text-align: left
		$size: 80px
		li
			width: $size
		button::before
			background: darken(#ffffff, 60)
			height: $size !important
			padding-left: 60px
			border-radius: 50%
			content: '' !important
	.slick-dots li button:before
		opacity: .5
		transition: opacity .2s
	.slick-dots li button:focus:before, .slick-dots li button:hover:before
		opacity: 1
	#slick-slide-control10:before
		background: url(..//img/clients1.jpg) center / cover
	#slick-slide-control11:before
		background: url(..//img/clients2.jpg) center / cover
	#slick-slide-control12:before
		background: url(..//img/clients3.jpg) center / cover
	#slick-slide-control13:before
		background: url(..//img/clients4.jpg) center / cover


@media (max-width: 992px)
	.clients
		flex-wrap: wrap
		&__list
			width: 80%
			margin: 0 auto 50px
		&__content
			width: 80%
			margin: 0 auto

@media (max-width: 480px)
	.clients
		padding: 25px 0
		&__content
			width: 100%
		&__item
			height: 60px

	.clients
		.slick-dots
			$size: 60px
			li
				width: $size
			button::before
				height: $size !important
				padding-left: 40px
