@import '_mixins'
@import '_fonts'

body
	position: relative
	font-size: 16px
	line-height: 1.25
	min-width: 320px
	margin: 0
*
	font-family: 'Roboto'
	font-weight: 400

.container
	max-width: 1200px
	padding: 0 15px
	margin: 0 auto

@import '_titles'
@import '_par'
@import '_btns'
@import '_menu'
@import '_header'
